<a href="https://colab.research.google.com/github/syh0397/Practice/blob/main/numpy_tostring().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
arr = np.array([1, 2, 3, 4, 5, 6])
ts = arr.tostring()
print(np.fromstring(ts, dtype=int))

[1 2 3 4 5 6]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: tostring() is deprecated. Use tobytes() instead.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: The binary mode of fromstring is deprecated, as it behaves surprisingly on unicode inputs. Use frombuffer instead
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
txt = "apple#banana#cherry#orange"

x = txt.split("#")

print(x)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
import pandas as pd

urlhead = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/stocks/'
df1 = pd.read_csv(urlhead + '000080.csv')
df1.head()

   Unnamed: 0 2019/09\n(IFRS연결)  ... 2020/06\n(IFRS연결) 2020/09\n(IFRS연결)
0         매출액             5,291  ...             5,816             6,243
1        영업이익               492  ...               541               644
2  영업이익(발표기준)               492  ...               541               644
3    세전계속사업이익               348  ...               487               465
4       당기순이익               258  ...               349               322

[5 rows x 6 columns]

In [ ]:
df1 = pd.read_csv(urlhead + '000080.csv').transpose()
df1.head()

                      0     1           2   ...       30         31          32
Unnamed: 0           매출액  영업이익  영업이익(발표기준)  ...  현금배당수익률  현금배당성향(%)  발행주식수(보통주)
2019/09\n(IFRS연결)  5,291   492         492  ...      NaN       0.00  70,133,611
2019/12\n(IFRS연결)  5,586   327         327  ...      NaN    -194.53  70,133,611
2020/03\n(IFRS연결)  5,339   561         561  ...      NaN       0.00  70,133,611
2020/06\n(IFRS연결)  5,816   541         541  ...      NaN       0.00  70,133,611

[5 rows x 33 columns]

In [ ]:
new_header = df1.iloc[0] 
new_header

0            매출액
1           영업이익
2     영업이익(발표기준)
3       세전계속사업이익
4          당기순이익
5      당기순이익(지배)
6     당기순이익(비지배)
7           자산총계
8           부채총계
9           자본총계
10      자본총계(지배)
11     자본총계(비지배)
12           자본금
13      영업활동현금흐름
14      투자활동현금흐름
15      재무활동현금흐름
16         CAPEX
17           FCF
18        이자발생부채
19         영업이익률
20          순이익률
21        ROE(%)
22        ROA(%)
23          부채비율
24         자본유보율
25        EPS(원)
26        PER(배)
27        BPS(원)
28        PBR(배)
29      현금DPS(원)
30       현금배당수익률
31     현금배당성향(%)
32    발행주식수(보통주)
Name: Unnamed: 0, dtype: object

In [ ]:
df1 = df1[1:] 
df1

                      0    1    2    3   ...   29   30       31          32
2019/12\n(IFRS연결)  5,586  327  327   39  ...  700  NaN  -194.53  70,133,611
2020/03\n(IFRS연결)  5,339  561  561  450  ...  NaN  NaN     0.00  70,133,611
2020/06\n(IFRS연결)  5,816  541  541  487  ...  NaN  NaN     0.00  70,133,611
2020/09\n(IFRS연결)  6,243  644  644  465  ...  NaN  NaN      NaN  70,133,611

[4 rows x 33 columns]

In [ ]:
df1.columns = new_header 
df1.columns

Index(['매출액', '영업이익', '영업이익(발표기준)', '세전계속사업이익', '당기순이익', '당기순이익(지배)',
       '당기순이익(비지배)', '자산총계', '부채총계', '자본총계', '자본총계(지배)', '자본총계(비지배)', '자본금',
       '영업활동현금흐름', '투자활동현금흐름', '재무활동현금흐름', 'CAPEX', 'FCF', '이자발생부채', '영업이익률',
       '순이익률', 'ROE(%)', 'ROA(%)', '부채비율', '자본유보율', 'EPS(원)', 'PER(배)',
       'BPS(원)', 'PBR(배)', '현금DPS(원)', '현금배당수익률', '현금배당성향(%)', '발행주식수(보통주)'],
      dtype='object', name='Unnamed: 0')